*.elc
/elpa/
/straight/
/transient/
/recentf
/projects
/tramp
/bookmarks
custom-vars.el
/.org-id-locations
/url/
ede-projects.el
/history
/eln-cache
/eshell
/request
.lsp-session-v1
/.cache
/tree-sitter
/org-clock-save.el
/multisession
/devdocs
/org-roam.db
/places
/network-security.data
/forge-database.sqlite
/nov-places
*.info
